.DS_Store
/node_modules
/public/hot
/public/storage
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
!.gitkeep
.idea/
.env
docs/develop/redis/datadir/*
!docs/develop/redis/datadir/.gitkeep
docs/develop/redis/logs/*
!docs/develop/redis/logs/.gitkeep
framework/develop/redis/datadir/*
!framework/develop/redis/datadir/.gitkeep
framework/develop/redis/logs/*
!framework/develop/redis/logs/.gitkeep
/app/.scannerwork
.vscode/
sonar-project.properties
!framework/sonar/sonar-project.properties
*.log
.scannerwork
tests/Unit/ExampleTest.php
/vendor/_laravel_idea/
vendor/composer/autoload_classmap.php
vendor/composer/autoload_static.php
